# Use CPU-only versions to keep build size small (<1GB)
--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.9.0+cpu
sentence-transformers==2.7.0
langchain-huggingface==0.0.1
langchain-community==0.0.34
langchain-groq
langchain-chroma
chromadb==0.5.0
beautifulsoup4==4.12.3
requests==2.31.0
python-dotenv
pandas
uvicorn
fastapi
