# Specialized for Low-Memory environments (512MB RAM)
# Using Hugging Face Inference API instead of local models

langchain-community==0.0.34
langchain-groq
langchain-chroma
chromadb>=0.5.3
beautifulsoup4==4.12.3
requests==2.31.0
python-dotenv
pandas
uvicorn
fastapi
